/*Fonts*/
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: GiveYouGlory;
  src: url("../fonts/GiveYouGlory.ttf");
}
@font-face {
  font-family: AnnieUseYourTelescope;
  src: url("../fonts/AnnieUseYourTelescope-Regular.ttf");
}

body {
  padding: 0;
  margin: 0;
  background-color: #efefef;
  font-family: 'Raleway';
  color: #404040;
}

header {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #7a7a7a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}

a{
  text-decoration: none;
  color:#202020;
}
a:hover{
  font-weight: bold;
}

*:focus {
  outline: 0;
}

textarea {
  resize: none;
  border-radius: 5px;
}

header img {
  vertical-align: middle;
}

.border {
  border: 1px solid red;
}

.img-center {
  vertical-align: middle;
}

.size24 {
  height: 24px;
}

/* NAVBAR & HEADER */

#overlaymenu {
  display: none;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  animation: opacityshow 0.15s linear;
}

#menu {
  z-index: 999;
  display: block;
  position: fixed;
  height: 100%;
  width: 40vw;
  padding: 0;
  left: 0;
  top: 0;
  background-color: rgba(13, 63, 99, 0.95);
  overflow-y: hidden;
  text-align: center;
  animation: lefttoright 0.05s linear;
}

#menu a {
  text-decoration: none;
  color: #f8f8f8;
}

#menu a:hover {
  font-weight: bold;
}

#idmenu {
  font-size: 16pt;
}

i {
  font-size: 20pt;
}

.fa-close {
  color: red;
}

.fa-bars {
  color: rgba(17, 73, 112, 0.95);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

li {
  color: #f8f8f8;
  font-size: 13pt;
}

li a {
  display: block;
  padding: 18px 10px;
  text-decoration: none;
}

li a:hover {
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(0, 119, 255, 0.3);
}

.box-menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 75px;
  text-decoration: none;
  color: #202020;
}

.box-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  background-color: rgba(13, 63, 99, 1);
  margin-bottom: 0px;
}

.brand {
  text-align: center;
  min-width: 40%;
  padding: 10px 20px;
}

.brand a {
  font-family: 'Raleway';
  font-size: 20pt;
  text-decoration: none;
  color: #303030;
}

.brand p {
  font-family: 'Raleway';
  margin-top: 2px;
  font-style: italic;
}

.avatar{
  border-radius:100px;
  border:1px solid rgba(20,20,20,0.2);
}

.avatar50{
  width:50px;
  height:50px;
}

.avatar100{
  width:125px;
  height:125px;
}

/* GERAL */
.errorbox a{
  font-weight: bold;
  color:#fff;
}
.errorbox{
  display:block;
  position: fixed;
  z-index:990;
  top:19vh;
  left: 10vw;
  padding:5px;
  margin:0 auto;
  color:#fff;
  border-radius:10px;
  text-align: center;
}
.errorbox-success{
  border:1px solid rgb(0, 255, 0);
  background-color: rgba(22, 150, 54, 0.8);
}
.errorbox-error{
  border:1px solid red;
  background-color: rgba(206, 27, 27, 0.8);
}

.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  margin-top: 18.7vh;
  animation: opacityshow 0.3s linear;
}

.wrapperx {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

#deletebtn {
  display: none;
}

.deletebutton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  float: right;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #e91818;
  text-decoration: none;
  color: #ffffff;
}

.background-index {
  display: flex;
  justify-content: center;
  background: url('../imgs/backgroundindex.jpg');
  background-position: bottom;
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.quoteindex {
  padding: 50px 0;
  background: transparent;
  text-align: center;
}

.quoteindex h2 {
  font-family: 'GiveYouGlory';
}

/* INDEX.PHP */

.mainquotebox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.mainquote {
  padding: 10px;
  border-radius: 10px;
  color: #303030;
  background-color: rgba(255, 255, 255, 0.45);
}

.btn-arrowdown {
  position: absolute;
  padding: 10px 0;
  color: #eeeeee;
  text-decoration: none;
  bottom: 10px;
  animation: Moveupdown 1s linear infinite;
}

.btn-rounded {
  padding: 10px 50px;
  border: none;
  color: #3c3c3c;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #606060;
  font-family: 'Roboto';
  text-decoration: none;
}

.btn-rounded:hover {
  box-shadow: 0px 5px 5px #888888;
}

.whatisposting .btn-rounded {
  background-color: #0077ff;
  color: #e4e4e4;
}
.whatisquotes .btn-rounded {
  background-color: #ff0062;
  color: #e4e4e4;
}
.whatiscoaching .btn-rounded {
  background-color: #01a71d;
  color: #e4e4e4;
  width:50%;
  margin:0 auto;
}

.indexcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 25px 0;
}

.postsquote {
  position: absolute;
  transform: rotate(-7deg);
  top: 67%;
  left: 10%;
  z-index: 700;
}

.whatisposts .postsquote h1 {
  font-family: 'GiveYouGlory';
  color: #007DFF;
}

.postsquote h1 {
  font-family: 'GiveYouGlory';
  color: #007DFF;
}

.quotesquote {
  position: absolute;
  transform: rotate(-7deg);
  top: 67%;
  right: 10%;
  z-index: 700;
}

.quotesquote h1 {
  font-family: 'GiveYouGlory';
  color: rgb(255, 0, 98);
}

.coachingquote h1 {
  font-family: 'GiveYouGlory';
  color: rgb(0, 182, 15);
}

.whatisposting {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 250px;
  box-shadow: 0px 1px 5px #474747;
  border-radius: 10px;
  padding: 5px 10px 5px 30px;
  background-color:rgba(255,255,255,0.5);

}

.whatisquotes {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 250px;
  box-shadow: 0px 1px 5px #474747;
  border-radius: 10px;
  padding: 5px 10px 5px 30px;
  right:0;
  background-color:rgba(255,255,255,0.5);
}

.whatiscoaching{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width:75%;
  height: 250px;
  margin:0 auto;
  box-shadow: 0px 1px 5px #474747;
  border-radius: 10px;
  padding: 5px 10px 5px 30px;
  background-color:rgba(255,255,255,0.5);
}

.box {
  max-height: 190px;
  width: 500px;
  word-break: keep-all;
  padding: 15px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

/* POST box*/

.lastestposts {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  padding: 5px 10px;
  box-shadow: 0 0 5px #505050;
  border-radius: 10px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lastestposts-box {
  max-height: 375px;
  overflow-y: auto;
}

.lastestquotes {
  position: absolute;
  left: 0;
  top: 0;
  width: 33%;
  padding: 5px 10px;
  box-shadow: 0 0 5px #505050;
  border-radius: 10px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.5);
}

.box-postindex {
  position: relative;
  min-width: 65%;
  max-width: 95%;
  padding: 0px 35px;
  border-bottom: 1px solid #636363;
}

.box-post {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  border: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(32, 32, 32, 0.589);
  width: 300px;
  max-height:250px;
  padding: 3px 15px;
  word-break: keep-all;
  overflow-x: auto;
  border-radius: 5px;
  margin: 25px 15px;
}

by {
  font-size: 10pt;
}

.post-content {
  max-width: 100%;
  max-height: 150px;
  overflow-y:auto;
  word-break: break-all;
}

.post-date {
  position: absolute;
  color: #5c5c5c;
  float: right;
  right:10px;
  bottom:0;
}

/*FEED.PHP*/
#inputpost {
  display: none;
}

.postzone {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:10px;
  max-height: 73vh;
  overflow-y: auto;
  justify-content: center;
  margin:0 auto;
}

.postzoneindex {
  flex-direction: column;
  max-height: 100%;
  margin: 0 auto;
  
}

.postinput {
  display: flex;
  justify-content: center;
  min-width: 50%;
  background-color: rgba(21, 82, 126, 0.95);
  position: relative;
  border-radius: 5px;
  padding: 25px 15px;
}

.postinput h3 {
  text-align: center;
}

.controllerposition {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 0;
  top: 0;
  z-index:770;
  color: #e4e4e4;
  animation: opacityshow 0.2s linear;
}

/*DELETE FORMS*/

.confirmationdelete {
  border-radius: 6px;
  text-align: center;
  width: 300px;
  padding: 30px 10px;
  background-color: #e4e4e4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .20);
}

#overlaydelete {
  display: none;
}

.confirmbuttons {
  width: 45%;
}

.centervertical {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.formdelete {
  position: relative;
  float: right;
  top: 5px;
  right: 0px;
}
.formdelete:hover{
  animation: tilt 0.3s linear infinite;
}

input[type='image']:hover {
  cursor: pointer;
}

/*Buttons*/

.btn {
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.btn:active {
  font-weight: bold;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0077ff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 5%;
  z-index:90;
}

.btn-circle:active {
  background: #025ed6;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn-circle:hover{
  background: #025ed6;
}

.btn-hide {
  position: absolute;
  top: 15px;
  right: 25px;
}

/* VIDEOS */
.coachingpage{
  text-align:center;
}

#videotoopen{
  display: none;
}

.videosbox{
  cursor: pointer;
  height:40vh;
  width: 40%;
  margin:0 10px;
  z-index:500;
}

/* QUOTES */
.pesquisarpor{
  position: fixed;
  left: 50px;
  top: 25vh;
  width:15%;
  text-align:center;
  background-color:rgba(255,255,255,0.3);
  box-shadow: 0px 0px 4px #606060;
  padding:0 5px;
  border-radius:5px;
}

.quotezone {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

#inputquote {
  display: none;
}

.quote-img {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width:100%;
}

.box-quote {
  padding: 10px 20px;
  position: relative;
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
  border: 1px solid rgba(0,0,0, 0.15);
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.15);
  background-color: rgba(255, 255, 255, 0.9);
  max-width:45%;
}

.box-quoteindex{
  position: relative;
  width:95%;
  height:100%;
  border-bottom:1px solid #202020;
}
.quote-imageindex{
  max-width:100%;
}

.quote-sharedby {
  text-align: right;
}

.quote-title {
  padding-top:10px;
  margin-top:10px;
  margin:0;
  max-width:90%;
}
.quote-author {
  font-size:11pt;
  font-style: italic;
  margin-top:5px;
  margin-bottom:20px;
}

/*ADMIN.PHP*/

.latestquotesandposts{
  position:relative;
}

.users {
  position: relative;
  text-align: center;
  width: 25%;
  height: 225px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #909090;
  padding: 10px;
  background-color: rgba(230, 230, 230, 0.5);
}

.listofusers {
  margin: 0 auto;
  width: 75%;
  max-height: 180px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.listofusers ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-align: left;
}

.listofusers li {
  color: #202020;
  font-size: 13pt;
  border-bottom: 1px solid #15527ef2;
}

.listofusers li a {
  color: #202020;
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
}

.listofusers li a:hover {
  font-weight: bold;
  background-color:transparent;
}

.updateusers {
  position: relative;
  margin: 0 25px;
  width: 450px;
  background-color: rgba(33, 33, 33, 0.1);
  padding: 15px;
  border-radius: 10px;
}

.reload {
  position: absolute;
  float: right;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.reload:hover {
  animation: rotate 0.5s;
}

.admin h2 {
  text-align: center;
}

/*LOGIN & REGISTO */

.container-m {
  width: 50%;
}

.container-m-registo {
  width: 60%;
}

.container-sm {
  max-height: 320px;
  width: 60%;
}

.container-sm-registo {
  max-height: 380px;
  width: 60%;
}

.container-sm h2 {
  color: #0167ff;
}

.container-sm-registo h2 {
  color: #0167ff;
}

.container-login-frase {
  background-color: rgba(20, 255, 224, 0.35);
  text-align: center;
  border-bottom-left-radius: 20px;
  width: 45%;
  padding: 0 10px;
  color: #ffffff;
}

.container-login-frase h2 {
  color: #ffffff;
}

.container-login-frase h2 {
  color: #ffffff;
}

.container-login {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-top-right-radius: 20px;
}

.container-login p {
  font-size: 11pt;
}

.container-login p a {
  font-weight: bold;
  text-decoration: none;
  color: #202020;
}

.container-login p a:hover {
  text-decoration: underline;
}

.background-login {
  display: flex;
  justify-content: center;
  background: url('../imgs/backgroundlogin.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

select{
  padding:3px 7px;
}

textarea{
  background-color:rgba(0,0,0,0.2);
  color:#e4e4e4;
}
textarea::-webkit-input-placeholder {
  color: #e4e4e4;
}

input[type="radio"]{
  color:#fff;
}

input[type="file"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.postinput input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  font-size: 11pt;
  color:#eeeeee;
}
input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(31, 31, 31, 0.5);
  font-size: 12pt;
}

input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(31, 31, 31, 0.5);
  font-size: 12pt;
}

input[type="email"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(31, 31, 31, 0.5);
  font-size: 12pt;
}

input[type="date"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(31, 31, 31, 0.5);
  font-size: 12pt;
}

input[type="text"]:focus {
  border-bottom: 1px solid #0044ff;
}

input[type="email"]:focus {
  border-bottom: 1px solid #0044ff;
}

input[type="password"]:focus {
  border-bottom: 1px solid #0044ff;
}

.btn-enviarform {
  padding: 10px 50px;
  border: none;
  color: #f8f8f8;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 3px 10px #606060;
  font-family: 'Roboto';
  font-size: 11pt;
}

.btn-enviarform:active {
  box-shadow: 0px 1px 5px #606060;
}

.btn-enviarform-login {
  background-color: rgba(1, 81, 255, 0.95);
}

.btn-enviarform-registo {
  background-color: rgba(21, 190, 125, 0.95);
}

/* PESQUISA */
.searchbtn{
  cursor: pointer;
}

/*UTILIZADOR.PHP*/
.userimg{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.userinfo-changeimg{
  display:flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  width:125px;
  height:125px;
  background-color:rgba(50, 50, 50, 0.6);
  color:#f0f0f0;
  border-radius:100px;
  text-align: center;
  cursor: pointer;
}
.userimg:hover .userinfo-changeimg{
  visibility: visible;
}

.dadosutilizador{
  text-align:center;
}
.dadosutilizador li{
  color: #303030;
  font-size: 13pt;
  padding:10px 20px;
  text-align: left;
  margin:0 10px 0 0;
  border-bottom:1px solid #404040;
}
.dadosutilizador li:hover{
  background-color:rgba(226, 226, 226, 0.8);
  color:#303030;
}

.dadosutilizador li:nth-last-child(1){
  border-bottom:none;
}

.dadosutilizador li .idx{
  border-bottom:1px solid #202020;
}

.dadosutilizador li .btn{
  padding:0;
  margin:0 auto;
}

.dadosutilizador li a{
  padding:0;
  text-decoration: none;
  background-color:transparent;
}
.dadosutilizador li a:hover{
  padding:0;
  text-decoration: none;
  background-color:transparent;
}

.dadosutilizador input[type='submit']{
  width:100%;
  padding:2px 0;
  text-align:center;
}

.dadosutilizador .btn-rounded{
  width:100px;
  border:1px solid #ddd;
  margin:0 auto;
  margin-top:15px;
}

.dadosutilizador input{
  padding:0;
  margin:0;
  border:none;
}
.dadosutilizador input:focus{
  border:none;
}

/*HELP*/
.hellohelp{
  width:60%;
  margin: 0 auto;
  padding:5px;
}
.hellohelp h2,h3,h1{
  text-align: center;
}
.hellohelp h1:nth-last-child(1){
  font-family:'AnnieUseYourTelescope';
  font-size: 30pt;
}
.hellohelp p{
  text-align: justify;
}
.hellohelp ul{
  list-style-type: disc;
}
.hellohelp ul li{
  color:#202020;
}
.hellohelp ul.helpcontacts a{
  display: inline-block;
}
.hellohelp ul.helpcontacts{
  list-style-type: none;
}
.hellohelp ul.helpcontacts li{
  padding: 5px;
}
.hellohelp ul.helpcontacts li a{
  display: inline-block;
  background-color:transparent;
  text-decoration: underline;
  padding: 10px 5px;
}

.hellohelp ul.helpcontactsident{
  text-indent: 25px;
  list-style-type: none;
}

.hellohelp ul.helpcontacts li a:hover{
  background-color:transparent;
}


/*KEYFRAMES*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Moveupdown {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes lefttoright {
  from{
    width:0%;
  }to{
    width:35%;
  }
}

@keyframes opacityshow{
  from{
    opacity: 0.4;
  }to{
    opacity:1;
  }

}

@media only screen and (max-width: 1000px) {
  .centervideos{
    display:block;
    margin:0 auto;
  }
  .videosbox{
    margin:25px auto;
    width:100%;
    height:50vh;
    padding:25px 0;
  }
  #menu{
    width:65vw;
  }
}